/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

h1 h2 h3 {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: black;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

.p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.body {
margin: 0;
justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 0;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*HEADER*/
.header {
	position: relative;
	width: 100%;
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 30px 0px;
    padding: 0;
    
}

.logo {
    width: 61px;
    height: 19px;
    display: block;
    margin: 0px;
    padding: 30px 0;
    
}

.nav ul {
    display: flex;
    margin: 22px;
    flex-direction: row;
    list-style: none; 
    margin: 0 0 50;
    padding: 0;
    gap : 68px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-family: Raleway, sans-serif; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s ease, border-top 0.3s ease;
}

.nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 20px; 
}

.search-and-filters {
    max-width: 1440px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 0 35px 0;
    padding: 0%;
}

.search-header {
    margin: 0 0 35px 0;
    padding: 0px;
}

.search-header p {
    margin-top: -10px; 
}

.search-bar {
    display: flex;
    align-items: center;
    width: 30%;
    height: 49px;
    gap: 24px;
    border-radius: 15px;
    border: 1px solid var(--Grey, #F2F2F2);
    background: var(--White, #FFF);
    margin: 0 0 35px 0;
    padding: 0px;
}

.search-icon i {
    display: flex;
    justify-content: center; 
    align-items: center;
    color: black;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--Grey, #F2F2F2);
}

.search-bar input {
    flex: 1;
    text-align: center;
    vertical-align: middle;
    border: none; 
    outline: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: black !important;
    height: 49px;
    padding: 0px;
}

.search-bar input::placeholder {
    color: black !important; 
}

.search-bar .search-btn {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 16px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 49px;
    margin: 0;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    gap: 15px;
    margin: 0 0 35px 0; 
    padding: 0px;
}
  
.filters-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    gap: 15px; 
  }
  
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    padding: 4px 19px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid var(--Grey-Tint2, #D9D9D9);
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    color: var(--Black, #000);
    text-decoration: none;
    transition: background-color 0.3s ease; 
  }
  
.button:hover {
    background: var(--Blue-Light, #DEEBFF); 
}

.search-bar .search-btn-mobile {
    display: none;
}
.information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    gap: 10px;
    margin: 0px;
    padding: 0px;
}

.fa-solid {
    color: var(--main-color);
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires section {
    background-color: var(--main-bg-color); 
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-and-populaires {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    margin-bottom: 35px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex; 
    flex-direction: column;
    order: 1;
    padding: 0;
    margin: 0;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 25px 0;
    justify-content: center;
    align-items: center;
    gap: 25px;  
}
#hebergements .card {
    height: 225px;
}

.a-hebergements {
    height: 225px;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: calc(33% - 20px); /* 3 cards par rangée avec espace */
}  

.hebergements-cards-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Assure que les paddings et marges sont inclus dans la largeur */
    margin-top: 33px;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.hebergements-cards img {
    height: 120px;
    width: 100%;
    object-fit: cover; 
    border-radius: 20px 20px 0 0;
    padding: 0;
    margin: 0;
}

.hebergements-card-txt {
   padding: 0;
   margin: 0 0 0 15px;
}

.hebergements h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.hebergements-cards .card-rating {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.afficher-plus {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 15px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    order: 2;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    height: 136px;
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Section Activités ***********/

.activities-section {
    display: flex;
    flex-direction: column;
    margin: 0 0 35px 0;
    padding: 30px;
}

.activities-card-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
    padding: 0;
}

figure {
    padding: 0;
    margin: 0;
}

.activities-card {
    height: 440px;
    padding: 0;
    margin: 0;
}

.a-activities {
    height: 440px;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 30%
}  

.activities-img {
    height: 380px;
    width: 100%;
    object-fit: cover; 
    border-radius: 20px 20px 0 0;
    padding: 0;
    margin: 0;
} 

.activities-section h3 {
    margin-left: 20px;
}

.activities-section h2 {
    margin-bottom: 30px;
}

/****** Footer ***********/
.footer {
    height: 180px;
    display: flex; 
    justify-content: space-between; 
    background-color: var(--main-bg-color);
    padding: 0; 
}

.footer-section {
    flex: 1; 
    padding: 20px; 
}

.footer-section ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.footer-section li {
    margin-bottom: 15px; 
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: black;
}

.footer-section a {
    text-decoration: none; 
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
        max-width: 1024px;
        padding: 0 30px;
    }
   
    h3 {
        font-size: 16px;
    }
    .p {
        font-size: 16px;
    }
    .header {
        max-width: 1024px;
        height: 50px;
        margin: 0px 0px 25px 0px;
    }
    .nav ul {
        gap : 50px;
    }
    .nav a {
        touch-action: manipulation; 
        height: auto;
      }
    .search-and-filters {
        margin: 0 0 25px 0;
    }
    .search-bar {
        gap: 10px;
        height: 40px;
    }
    .search-icon i {
        height: 40px;
    }
    .search-bar input {
        font-size: 15px;
        height: 40px;
    }
    .search-bar .search-btn {
        padding: 15px;
        font-size: 15px;
        height: 40px;
    }
    .search-bar .search-btn-mobile {
        display: none;
    }
    .filters {
        gap: 08px;
        margin-bottom: 15px;
    }
      
    .filters-button {
        gap: 08px; 
      }
      
    .button {
        gap: 08px;
        height: 45px;
        padding: 4px 19px;
        font-size: 15px;
        touch-action: manipulation; 
      }

    .information {
        text-align: start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #hebergements .card{
        height: 200px;
    }
    #hebergements .card-title {
        font-size: 14px;
    }
    #hebergements .card-subtitle {
        font-size: 13px; 
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
    }
    .populaires {
        width: 100%;
    }
    .activities-card {
       height: 220px;
    }
    .activities-img {
        height: 150px;
    }
    .a-activities {
        height: 220px;
    }
    
    .footer-section li {
        font-size: 14px; 
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .main-container {
        max-width: 767.98px;
        padding: 0;
        }  
    .main {
        margin: 0;
        padding: 0;
        }  
    .header {   
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px 20px 80px 20px;
        width: auto;
        }
    .logo {
        margin-top: 50px;
        padding: 35px;
        }  
        .nav {  
            width: 100%;
        }  
    .nav ul {
        margin: 0;
        width: 100%;
        gap: 0;
    }
    .nav li {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    .nav a {
        padding-bottom: 5px; /* padding pour éviter que la ligne se superpose au texte */
        transition: color 0.3s ease, border-bottom 0.3s ease;
        padding-bottom: 10px;
        width: 100%;
    }
    .nav li:active, .nav li:focus {
        touch-action: manipulation;
    }
    .nav li:hover {
        border-bottom: 2px solid var(--main-color);
    }
    .nav a:hover {   
        border-top: 0px;
    }
    .search-and-filters {
        margin: 0 20px 25px 20px;
        align-items: center;
        justify-content: center;
    }
    .search-bar {
        width: 100%;
        gap: 60px;
        justify-content: center; 
    }
     /* Cacher le texte du bouton "Rechercher" */
     .search-bar .search-btn {
        display: none;
    }
    .search-bar input {
        width: 100%;
        text-align: left;
    }
    /* Afficher l'icône de recherche (loupe) */
    .search-bar .search-btn-mobile {
        display: block;
        font-size: 15px;
        padding: 10px;
        border-radius: 15px;
        background-color: var(--main-color);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: none;
    }
   i.fa-solid.fa-search {
        color: white;
    }
    .filters {
        flex-direction: column;
        align-items: flex-start;
    } 
    .filters-button {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    } 
    .button {
        width: 180px;
        justify-content: flex-start;
    } 
    .hebergements-cards {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 5px;
        margin-bottom: 5px;
    } 
    .populaires-cards a {
        width: 100%;
    }
    .a-hebergements {
        width: 100%;
    }  
    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 30px 20px;
        margin: 0 20px 35px 20px;
        justify-content: center;
    }
    #hebergements {
        padding: 20px;
        background-color: white;
        order: 2;
        justify-content: center;
    }
    .hebergements h2 {
        justify-content: flex-start;
        padding: 0%;
        margin-bottom: 15px;
        margin-left: 0px;
    }
    .populaires {
        order: 1;
        justify-content: center;
    }
    .populaires-cards {
        flex-direction: column;   
    }

    .activities-section {
        padding: 5px;
        margin: 0 20px 35px 20px;
        justify-content: center;
    }
    .activities-card-content {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    .activities-card {
        width: 100%;
        justify-content: center;
    }
    .a-activities {
        width: 100%;
        justify-content: center;
    }  
    .footer {
        max-width: 767.98px;
        flex-direction: column;
        height: auto;
        justify-content: center;
        background-color: var(--Grey, #F2F2F2);
    }
    
    .footer-section li {
        margin-bottom: 10px; 
        font-size: 16.5px;
    }
    .footer-section {
        padding: 10px 20px; 
    }
    .footer-section h3 {
        font-size: 18px;
    }
  
}
